#about-us {
  width: 100%;
  position: relative;
  background: rgb(0, 0, 0);
  color: #fff;
  border-top: 2px solid #fff;
  padding-top: 90px;
}

#about-us__bg {
  height: 100%;
  width: 100%;
  position: absolute;
}

#about-us__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 90px;
  max-width: 1300px;
  width: 90%;
  height: 100%;
  margin: auto;
}

#about-us__info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  height: fit-content;
}

#about-us__info-container__wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
}

#about-us__title {
  font-size: 2.3rem;
  position: relative;
  z-index: 5;
}

#about-us__title > span {
  color: var(--blue);
}

.about-us__info {
  min-width: 150px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  z-index: 5;
  border: 2px solid var(--blue);
  border-radius: 50%;
}

.about-us__info-number {
  font-size: 2.2rem;
  color: var(--blue);
  margin: 0;
}

.about-us__info-text {
  font-size: 0.9rem;
  width: min-content;
  text-align: center;
}

#about-us__imgs-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#about-us__facebook-logo {
  height: 25px;
}

#about-us__google-logo {
  position: relative;
  top: 4px;
}

.about-us__logo {
  height: 30px;
}

.abouts-us__title {
  display: flex;
  flex-direction: column;
  margin: none;
  padding: none;
}

/* Css del Nos Encargamos de Todo */

#about-us__orders-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-radius: 40px;
  background: var(--blue);
}

#about-us__orders__cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 90%;
  height: 100%;
  gap: 70px;
  position: relative;
}

.about-us___orders__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 20px;
}

.about-us__orders__cards-img {
  width: 110px;
  border-radius: 10px;
  filter: brightness(0);
}

.about-us__orders__cards-paragraph {
  text-align: center;
  font-size: 1.2rem;
  width: 75%;
  color: #000;
}
.about-us__orders__cards-title {
  text-align: center;
  color: #000;
}

/*Orders section desktop*/

@media screen and (min-width: 1150px) {
  #about-us__orders-container {
    height: 45vh;
    position: relative;
    border-radius: 0;
    padding: 0;
  }

  #about-us__wrapper {
    padding-bottom: 130px;
  }

  #about-us__orders__cards-container {
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .about-us___orders__cards {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border-radius: 50px;
    position: absolute;
    padding: 0 30px;
    background: var(--blue);
  }

  #about-us__orders__card1 {
    left: 0;
    top: -40px;
    padding-top: 40px;
  }

  #about-us__orders__card2 {
    bottom: -40px;
    padding-bottom: 40px;
  }

  #about-us__orders__card3 {
    right: 0;
    top: -40px;
    padding-top: 40px;
  }

  .about-us__orders__cards-img {
    width: 110px;
    border-radius: 10px;
  }

  #about-us__orders__cards-container {
    display: flex;
  }

  .about-us__orders__cards-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }

  .about-us__orders__cards-paragraph {
    text-align: center;
    font-size: 1.1rem;
  }
}

/*Responsive*/

@media screen and (max-width: 1095px) {
  #about-us__wrapper {
    justify-content: center;
    gap: 40px;
  }

  #about-us__title {
    font-size: 1.8rem;
    text-align: center;
  }

  #about-us__imgs-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  #about-us__facebook-logo {
    height: 17px;
  }

  .about-us__logo {
    height: 20px;
  }

  #about-us__info-container__wrapper {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  #about-us__info-container {
    align-items: center;
    flex-wrap: wrap;
  }

  .about-us__info {
    min-width: 100px;
    min-height: 100px;
  }

  .about-us__info-number {
    font-size: 2rem;
  }

  .about-us__info-text {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 400px) {
}
