header {
  display: flex;
  height: 90px;
  width: 100%;
  background-color: black;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

#fixedHeader {
  height: 90px;
  width: 100%;
}

.containerHeader {
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 1300px;
  justify-content: space-between;
  width: 85%;
  height: 100%;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.list > li {
  height: 100%;
  min-width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.listElement {
  text-decoration: none;
  color: white;
  font-size: 20px;
  scroll-behavior: smooth;
}
.list > li:hover {
  border-bottom: 2px solid var(--blue);
}
.imgHeader {
  height: 60px;
}

#btn-open-menu,
#btn-close-menu {
  display: none;
  color: #fff;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu-responsive {
  width: 100vw;
  display: flex;
  position: absolute;
  top: 90px;
  right: -3000px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

#menu-responsive__ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 20px 70px;
  align-items: center;
}

.menu-responsive__li {
  min-width: 150px;
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.menu-responsive__li:hover {
  border-bottom: 2px solid var(--blue);
}

.menu-responsive__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .list {
    display: none;
  }

  #btn-open-menu,
  #btn-close-menu {
    display: block;
  }

  .imgHeader {
    height: 45px;
  }

  .open {
    right: 0;
  }
}
