#footer {
  display: flex;
  width: 100%;
  background-color: black;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 2px solid #fff;
}

.containerFooter {
  margin: auto;
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.footerList {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4px;
}

.footerList li a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.footerListElement {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all 0.3s ease;
}

.footerIcon {
  width: 100%;
  height: 20px;
  align-items: center;
}

.footerListElement:hover {
  color: var(--blue);
}
.imgFooter {
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 600px) {
  .containerFooter {
    flex-direction: column;
    align-items: center;
  }
}
