#sponsors {
  width: 100%;
  padding: 50px 0;
  height: fit-content;
  position: relative;
  scroll-behavior: smooth;
  background-image: url("../../images/bg-sponsors.png");
  background-size: cover;
  background-position: center bottom;
}

#sponsors__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #011a1f;
  filter: opacity(80%);
  top: 0;
}

#sponsors__wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#sponsors__title {
  color: #fff;
  font-size: 2em;
  position: relative;
  z-index: 5;
  text-align: center;
}

#sponsors__logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 60%;
}

.sponsors__logo {
  height: 70px;
  filter: brightness(0) invert(100%);
}

#sponsors__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#sponsors__form__text {
  color: #fff;
  font-size: 1.9em;
  position: relative;
  z-index: 5;
  text-align: center;
}

#sponsors__form__button {
  padding: 15px 20px;
  background: white;
  color: black;
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  transition: all 0.1s ease;
}

#sponsors__form__button:hover {
  color: white;
  background: var(--blue);
}

@media screen and (max-width: 1095px) {
  #sponsors__title {
    font-size: 1.5em;
  }

  .sponsors__logo {
    height: 50px;
  }

  #sponsors__form__text {
    font-size: 1.4em;
  }

  #sponsors__form__button {
    font-size: 1rem;
  }
}
